.title {
    font-weight: bold;
}

.main_content {
    padding: 20px;
}

nav {
    background-color: #1b1f26;
    padding: 10px;
    font-size: 20px;
    color: #9d9d9d;
}

nav > a {
    color: #9d9d9d;
}